@font-face {
  font-family: "CustomFont";
  src: url("C:/Users/paddi/OneDrive/Desktop/HTML/Magic Vintage TTF.ttf") format("truetype"),
       url("custom-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* { background-color: beige; }

body {
  margin: 0;
  font-family: "CustomFont", sans-serif;
  color: rgb(48, 37, 23);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 7rem;
  text-align: center;
  padding: 10px;
  font-weight: 300;
  color: rgb(48, 37, 23);
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  transform: translateY(-50%);
}

.vinyl { display: flex; flex-direction: column; align-items: center; }

.vinyl img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.vinyl figcaption {
  margin-top: 8px;
  font-size: 20px;
  color: #333;
  text-align: center;
  pointer-events: none;
}

.solid-bar {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: rgb(48, 37, 23);
  color: lightblue;
  display: flex;
  align-items: stretch;
  justify-content: left;
  padding: 0 16px;
}

.ticker {
  position: relative;       
  height: 100%;             
  width: 100%;
  overflow: hidden;         
  background: rgb(48, 37, 23);
  display: block;
}

.track {
  position: absolute;        
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  will-change: transform;
  transition: transform 420ms ease;
}

.item {
  font-size: 1.5rem;
  height: 75px;             
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background: rgb(48, 37, 23);
  color: rgb(145, 225, 252);
  white-space: nowrap;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.dog {
   position: absolute;       
  left: 50%;                
  top: 95%;                 
  transform: translate(-50%, -50%);
  height: 10%;              
  width: auto;              
  z-index: 1;
  pointer-events: none;      
  background: transparent;   
}